html{
    background-color: rgba(19, 156, 127, 0.767);
}

img{
    width: 600px;
}

h1{
    text-align:center;
    color:rgb(7, 22, 70);
    width: 1920px;
}

p{
    text-align:center;
    color:rgb(59, 24, 156);
    width: 1920px;
}

div {
    text-align: center;
  }
  
