<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="C:\Users\Mark\Pictures\VSC\Vipusknoi project\Sait\css\main.css">

</head>

<body>

    <h1>Что случится с планетой земля при глобальном потеплении</h1>
    
    <p>При глобальном потеплении есть 2 варианта что слечится с планетой земля</p>
    
    <p>1 вариант:ГП Будет настолько сильным что вся вода высохнет и это будет выглядеть так-</p>

<div>

    <img src="C:\Users\Mark\Pictures\VSC\Vipusknoi project\Sait\img\img1.png">

<div>
    <p>2 вариант:ГП будет средним и все ледники растают и затопят большую часть континентов.</p>

<div>

    <img src="C:\Users\Mark\Pictures\VSC\Vipusknoi project\Sait\img\img2.jpg">

</div>    
    
    <h1>Зрелище не очень</h1>
    
    <p>Ну а если вы хотите предавратить ГП то переходите по сыллке к сайту моего однгогрупника</p>

</body>

</html>
